{% extends 'layout.html.twig' %} 
{% block content %}
<h1>Hello Wilder !</h1>

{% for product in products %}
{% if loop.first %}
<div class="row"><li>
    {% endif %} 
    {{product}} 

{% if loop.index %3 == 0 %}
</li></div><div class="row"><li>
    {% endif %} 
    {% if loop.last %} 
</li></div>
{% endif %}


{% endfor %} 
</ul>
{{dump(products)}}
{% endblock %}
